---
title: Mendicant University
layout: default
header:
  <link rel="alternate" type="application/rss+xml"
  title="Full RSS feed for Mendicant University"
  href="/index.xml" />
---
<header>
  Welcome to
  <a class="banner" href="/">Mendicant University</a>
</header>

{% include dan.test %}

<div id="landing">
  <div id="intro">
    We are a group of software developers who use our technical skills to make a
    real positive impact on the world. Rather than learning in a traditional
    classroom setting, we sharpen our skills by working on real projects while helping each other out.
  </div>

  <div id="posts">
    <div id="updates">
      <h2>
        Recent Updates
        <a href="/updates.html" class="all">View All</a>
      </h2>
      <ul class="posts">
        {% for post in site.tags.frontpage %}
          {% if post.category == 'updates' %}
            {% include post.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div id="activities">
      <h2>
        Upcoming Activities
        <a href="/activities.html" class="all">View All</a>
      </h2>
      <ul class="posts">
        {% assign has_activity_posts = false %}
        {% for post in site.tags.frontpage reversed%}
          {% if post.category == 'activities' %}
            {% include post.html %}
            {% assign has_activity_posts = true %}
          {% endif %}
        {% endfor %}
        {% if has_activity_posts == false %}
          <li class="empty">
            Right now we don't have any scheduled activities. <br/>
            Check our <a href="/index.xml">RSS</a>,
            <a href="https://twitter.com/#!/mendicant_news">twitter</a>, and
            <a href="http://lists.mendicantuniversity.org/listinfo.cgi/community-mendicantuniversity.org">mailing list</a> for updates.
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <p>
    Please read the
    <a href="https://github.com/mendicant/mendicantuniversity.org/wiki/Newcomer%27s-Guide-to-Mendicant">Newcomer's Guide to Mendicant</a>
    to learn how to get involved.
  </p>

  <p class="footer">
    You can find
    <a href="https://github.com/mendicant/mendicantuniversity.org">the source</a>
     for this website on GitHub. Pull requests are welcome!
  </p>
</div>
