<head>
  <!--
    mendicantuniversity.org

    <3 Lovingly created and maintained by members of the Mendicant community

    Fork us on GitHub: https://github.com/mendicant/mendicantuniversity.org
  -->
  <title>
    {% if page.title != "Mendicant University" %}
      {{ page.title }} @ Mendicant University
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>
  <meta charset='utf-8'>
  <meta content='Mendicant University supports programmers in developing both their technical skills and their social contributions, to make a real positive impact upon the world.' name='description'>
  <meta content='Mendicant University' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  {{ page.header }}
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="/javascript/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/javascript/vendor/decorate_time.js" type="text/javascript"></script>
  <script src="/javascript/application.js" type="text/javascript"></script>
</head>
