@import compass/reset
@import blueprint/typography
@import compass/css3/border-radius
@import compass/css3/box-shadow

@import partials/fonts
@import partials/landing

+blueprint-typography

$display-fonts: "ThryomanesNormal", "Baskerville Old Face", "Century Schoolbook", "Tw Cen MT", serif

body
  background: url(/images/snow.png)
  font-family: $display-fonts
  font-size: 1.25em

#container
  margin: 20px auto
  width: 850px

header
  background: #703B39
  padding: 0.25em
  text-align: center
  a, a:visited
    color: #fff
    text-decoration: none
    font-size: 3em
