@import compass/reset
@import blueprint/typography
@import compass/css3/text-shadow
@import compass/css3/transition

$font-color:         #2a2a2a
$link-color:         #703838
$link-hover-color:   #B60C0E
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  "ThryomanesNormal", "Baskerville Old Face", "Century Schoolbook", "Tw Cen MT", serif

+blueprint-typography

html
  overflow-y: scroll

body
  background: url(/images/snow.png)
  font-size: 1.25em

#container
  margin: 20px auto
  width: 850px

  h2
    font-size: 1.5em
    text-align: center

  p
    text-align: justify
    &.footer
      border-top: 1px solid #aaa
    &.footer, &.footer-no-border
      padding-top: 1em
      font-size: 0.9em
      text-align: center

a:hover
  +single-transition(all, .35s, ease-in, 0)

header
  margin: 40px 0
  font-size: 40px
  text-align: center

  a, a:visited
    text-decoration: none
    color: #000
    &:hover
      color: #1E4C78
    &.banner
      font-size: 48px
      color: #70120B
      &:hover
        color: $link-hover-color

h2.title
  padding: 0.25em 0
  border-top: 1px solid #CCC
  border-bottom: 1px solid #CCC

::-moz-selection, ::selection
  background: #1E4C78
  color: #fff
  text-shadow: none

@import partials/fonts
@import partials/landing
