<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body>
    <header>
      <a href="/{{page.category}}.html">{{ page.category | capitalize }}</a> @
      <a class="banner" href="/">Mendicant University</a>
    </header>
    <div id='container'>
      <h2 class="title">
        {{ page.title }}
        {% if page.date %}
          -- {{ page.date | date: "%Y %B %d" }}
        {% endif %}
      </h2>
      {{content}}
      <p class="footer">
      {% include newcomers_guide.html %}
      </p>
    </div>
  </body>
</html>
